<th:block th:fragment="footer">
  <div class="sidebar-overlay open"></div><!-- Footer Start -->
  <div class="flex-grow-1"></div>
  <div class="app-footer">
    <div class="footer-bottom border-top pt-3 d-flex flex-column flex-sm-row align-items-center">
      <span class="flex-grow-1"></span>
      <div class="d-flex align-items-center">
        <img class="logo" src="../../dist-assets/images/logo.png" alt="">
        <div>
          <p class="m-0">&copy; My blog</p>
          <p class="m-0">All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
  <!-- fotter end -->
  </div>
  </div><!-- ============ Search UI Start ============= -->
  <!-- ============ Search UI End ============= -->
  <script th:src="@{/assets/js/plugins/jquery-3.3.1.min.js}"></script>
  <script th:src="@{/assets/js/plugins/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/js/plugins/perfect-scrollbar.min.js}"></script>
  <script th:src="@{/assets/js/plugins/feather.min.js}"></script>
  <script th:src="@{/assets/js/plugins/metisMenu.min.js}"></script>
  <script th:src="@{/assets/js/plugins/echarts.min.js}"></script>
  <script th:src="@{/assets/js/plugins/datatables.min.js}"></script>
  <script th:src="@{/assets/js/plugins/tagging.min.js}"></script>

  <script th:src="@{/assets/js/scripts/tooltip.script.min.js}"></script>
  <script th:src="@{/assets/js/scripts/script.min.js}"></script>
  <script th:src="@{/assets/js/scripts/script_2.min.js}"></script>
  <script th:src="@{/assets/js/scripts/sidebar.large.script.min.js}"></script>
  <script th:src="@{/assets/js/scripts/layout-sidebar-vertical.min.js}"></script>
  <script th:src="@{/assets/js/scripts/echart.options.min.js}"></script>
  <script th:src="@{/assets/js/scripts/datatables.script.min.js}"></script>
  <script th:src="@{/assets/js/scripts/dashboard.v4.script.min.js}"></script>
  <script th:src="@{/assets/js/scripts/customizer.script.min.js}"></script>
  <script th:src="@{/assets/js/scripts/tagging.script.js}"></script>

  <script th:src="@{/assets/tinymce/js/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/assets/js/ajaxCalls.js}"></script>
  <script th:src="@{/assets/js/helper.js}"></script>

  <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</th:block>
