<th:block th:insert="common/header::header"/>
<header class="main-header bg-white d-flex justify-content-between p-2">
    <div class="header-toggle">
        <div class="menu-toggle mobile-menu-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="breadcrumb mt-2">
            <ul class="mr-2">
                <li><a th:href="@{/money/}" class="text-14">Money</a></li>
                <li>Add new </li>
            </ul>
        </div>
    </div>

</header>
<div class="main-content pt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title mb-3">Edit money record</div>
                    <form th:action="@{update}" method="post" th:object="${money}">
                        <input type="hidden" name="serialid" id="serialid" th:value="${money.serialid}">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="remark">Remark</label>
                            <div class="col-sm-10">
                                <input class="form-control form-control-rounded" th:value="${money.remark}" id="remark" name="remark" type="text" placeholder="Remark for this record">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="remark">Amount</label>
                            <div class="col-sm-10">
                                <input class="form-control form-control-rounded" th:value="${money.amount}" id="amount" name="amount" type="number" placeholder="Enter amount">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="editor-container">Description</label>
                            <div class="col-sm-10">
                                <textarea rows="10" cols="10" name="description" id="editor-container" class="form-control">[[${money.description}]]</textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Type</label>
                            <div class="col-sm-10">
                                <label class="radio radio-outline-primary">
                                    <input type="radio" value="1" th:checked="${money.type==1}" name="type"><span>Income</span><span class="checkmark"></span>
                                </label>
                                <label class="radio radio-outline-primary">
                                    <input type="radio" value="0" th:checked="${money.type==0}" name="type"><span>Expense</span><span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="transactionDate">Transaction date</label>
                            <div class="col-sm-10">
                                <input class="form-control form-control-rounded" th:value="${money.transactionDate}" id="transactionDate" name="transactionDate" type="date" placeholder="Remark for this record">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button class="btn btn-primary" type="submit">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- end of main-content -->
</div>
<th:block th:insert="common/footer::footer"/>
<script type="text/javascript">
    initializeTinyMce("#editor-container");
    $('#title').bind('keyup keypress blur', function()
    {
        var myStr = $(this).val()
        myStr=myStr.toLowerCase();
        myStr=myStr.replace(/(^\s+|[^a-zA-Z0-9 ]+|\s+$)/g,"");   //this one
        myStr=myStr.replace(/\s+/g, "-");

        $('#slug').val(myStr);
    });


</script>
</body>

</html>