<th:block th:insert="common/header::header"/>
<header class="main-header bg-white d-flex justify-content-between p-2">
    <div class="header-toggle">
        <div class="menu-toggle mobile-menu-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="breadcrumb mt-2">
            <ul class="mr-2">
                <li><a th:href="@{/goals/}" class="text-14">Goals</a></li>
                <li>Add new </li>
            </ul>
        </div>
    </div>

</header>
<div class="main-content pt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title mb-3">Form Inputs Rounded</div>
                    <form th:action="@{update}" method="post" th:object="${goal}">
                        <input type="hidden" name="serialid" id="serialid" th:value="${goal.serialid}">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="name">Title</label>
                            <div class="col-sm-10">
                                <input class="form-control form-control-rounded" th:value="${goal.name}" id="name" name="name" type="text" placeholder="Give this goal a name">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="editor-container">Purpose</label>
                            <div class="col-sm-10">
                                <textarea rows="10" cols="10" name="purpose" id="editor-container" class="form-control">[[${goal.purpose}]]</textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="deadline">Deadline</label>
                            <div class="col-sm-10">
                                <input class="form-control" th:value="${goal.deadline}" id="deadline" name="deadline" type="date" >
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button class="btn btn-primary" type="submit">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- end of main-content -->
</div>
<th:block th:insert="common/footer::footer"/>
<script type="text/javascript">
    initializeTinyMce("#editor-container");
    $('#title').bind('keyup keypress blur', function()
    {
        var myStr = $(this).val()
        myStr=myStr.toLowerCase();
        myStr=myStr.replace(/(^\s+|[^a-zA-Z0-9 ]+|\s+$)/g,"");   //this one
        myStr=myStr.replace(/\s+/g, "-");

        $('#slug').val(myStr);
    });


</script>
</body>

</html>