<th:block th:insert="common/header::header"/>
<header class="main-header bg-white d-flex justify-content-between p-2">

    <div class="header-toggle">
        <div class="menu-toggle mobile-menu-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="breadcrumb mt-2">
            <ul class="mr-2">
                <li><a href="#" class="text-14">News</a></li>
                <li>List</li>
            </ul>
        </div>
    </div>
</header>
<div class="main-content pt-4">
    <div class="row mb-4">
        <div class="col-md-12 mb-4">
            <div class="card text-left">
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <h4 class="card-title">List of all my News</h4>
                        </div>
                        <div class="col-md-6">
                            <a th:href="@{add}" class="btn btn-outline-info" style="float: right">
                                <i class="i-Add"> add new news</i></a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="display table table-striped table-bordered" id="zero_configuration_table" style="width:100%">
                            <thead>
                            <tr>
                                <th class="text-center">Remark</th>
                                <th class="text-center">Type</th>
                                <th class="text-center">Occurred date</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="n : ${news}">
                                <td class="col-5 text-center" th:text="${n.remark}"></td>
                                <td class="col-1 text-center" th:if="${n.type==1}">Good </td>
                                <td class="col-1 text-center" th:unless="${n.type==1}">Bad</td>

                                <td class="col-1 text-center" th:text="${n.occouredDate}"></td>
                                <td class="col-2 text-center">
                                    <a th:href="@{/news/edit(id=${n.serialid})}" class="btn btn-outline-primary m-1">
                                        <i class="i-Pen-2"></i>
                                    </a>
                                    <a th:href="@{/news/delete(id=${n.serialid})}" class="btn btn-outline-danger m-1">
                                        <i class="i-Remove"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of row-->
<!-- end of main-content -->
</div>

<th:block th:insert="common/footer::footer"/>
</body>

</html>